.weekend {
    display: block;
}

.weekend h3{
    padding: 50px 0;
}

.weekend-list {
	display: flex;
	flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}

.weekend-item {
    width: 100%;
  	flex-shrink: 0;
    height: 300px;
    margin-bottom: 20px;
}

.weekend-item p {
        bottom: 0;
}

.credit {
    margin: 100px 0 20px;
}

    @media (min-width: 650px) {

    .weekend h2{
        padding: 60px 0;
    }

    .weekend-list {
		justify-content: space-between;
		align-content: space-between;
		max-width: 90%;
		margin: 0 auto;
	}

    .weekend-item {
        display:inline-block;
        width: calc(50% - 10px);
		flex-shrink: 0;
        position: relative;
        height: 300px;
    }

        @media (min-width: 1000px) {

        .weekend-item-garden, .weekend-item-punt, .weekend-item-picnic, .weekend-item-mill {
            display:inline-block;
            width: calc(22% - 5px);
            flex-shrink: 0;
            height: 300px;
        }

        .item-garden, .item-punt, .item-picnic, .item-mill {
            max-width: 100%;
        }        

        .weekend-item-list h4 {
            margin-top: 20px;
            position: relative;
            top: 0;
        }

        .weekend-list p {
            position: relative;
            top: 0;
            line-height: 1.5em;
        }