.map-wrapper {
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: rgba(255, 47, 23, 0.2);
}

.map-title {
    position: relative;
}

.map-title h3 {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: calc(50% - 85px);
}

.map-address-left, .map-address-right {
    visibility: hidden;
    height: 0;
}

.church-address, .venue-address {
    text-align: center;
}

.church-address h4, .venue-address h4 {
    margin-bottom: 40px;
}

.church-address p, .venue-address p {
    margin-bottom: 30px;
}

#map {
    display: inline-block;
    width: 100%;
    height: 400px;
}

    @media (min-width: 900px) {

        #map {
            display: inline-block;
            width: 50%;
            height: 500px;
        }

        .map-address-left, .map-address-right {
            visibility: visible;
            width: 25%;
            padding: 160px 0 0;
            float: left;
        }

        .map-address-right {
            float: right;
        }

        .church-address, .venue-address {
            text-align: center;
        }

        .church-address h3, .venue-address h3 {
            margin-bottom: 20px;
        }

        .church-address p, .venue-address p {
            margin-bottom: 20px;
        }
    }
