.RSVP {
    width: 100%;
    position: relative;
}

.RSVP-image-left {
    width: 3%;
    height: 1100px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('backgroundimages/background-left.png');
    background-position: left top;
    background-repeat: no-repeat;
}

.RSVP-image-right {
    width: 3%;
    height: 1100px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('backgroundimages/background-right.png');
    background-position: right top;
    background-repeat: no-repeat;
}   

.RSVP-form {
    width: 85%;
    margin: 50px auto 0;
    text-align: center;
}

.RSVP p {
    width: 70%;
    padding: 10px 0 40px;
}

.selection {
    display: inline-block;
    margin: none;
    padding: none;
    border: 0 none;
}

/*Radio Button override styling starts*/
/*I want to override the default browser radio button styling I can't seem to get it to configured properly*/

.selection input[type="radio"] {
    display: none; 
}

.selection label {
    font-size: 1.2em;
    padding: 10px;
    display:inline-block;
    cursor: pointer;
    letter-spacing: 0.1em;
    border: 1px solid #f8f9e7;
}

/*simple selection styling (default should have 'Hell Yeah!' as the preselected state*/

.selection input[type="radio"]:checked + label { 
     border: 1px solid rgba(255, 123, 68, 0.7);
}

/*Radio Button override styling ends*/

label {
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    color: #000000;
    text-align: center;
    display: inline-block;
    margin: 50px 0 0;   
}

.selection label {
    margin: 10px 0;
}

label[for="emotion"] {
    margin: 50px 0 13px;
}

label[for="emotion_after"] {
    margin: 20px 0 0;
}

input {
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    width: 80%;
    color: #505050;
    cursor:pointer;
    text-align: center;
}

input#emotion {
    width: 80%;
}

input[type=text] {
    font-weight: normal;
    border: none;
    border-bottom: 1px dotted #b4b5a5;
    /*-webkit-box-shadow: ;
    -moz-box-shadow: ;*/
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    height: 30px;
    padding: 8px 16px 10px;
    margin: 0;
    cursor: pointer;
}

input#name {
    margin-top: 20px;
    font-style: italic;
}

input[type=submit] {
    color: #ffffff;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.2em;
    margin: 30px 0;
    padding:20px 40px;
    background-color: rgba(255, 123, 68, 0.7);
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Placeholder Styling Starts */

::-webkit-input-placeholder {
    color: #b4b5a5;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    /*font-style: italic;*/
    font-weight: 100;

}

:-moz-placeholder { /* Firefox 18- */
    color: #b4b5a5;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    /*font-style: italic;*/
    font-weight: 100;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #b4b5a5;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    /*font-style: italic;*/
    font-weight: 100;
}

:-ms-input-placeholder {  
    color: #b4b5a5;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    /*font-style: italic;*/
    font-weight: 100;
}

/* Placeholder Styling Ends */

/* Focus Styling Starts */

input:active {
    outline: none;
    border: none;
}

input:focus {outline:0;}

textarea:focus, input:focus {
    border-bottom: 1px solid #b4b5a5;
}

input[type=submit]:focus {
    outline: none;
    border: none;   
}

/* Focus Styling Ends */

    @media (min-width: 500px) {

        input#emotion {
            width: 60%;
        }

    }

        @media (min-width: 600px) {

            .RSVP-image-left {
                width: 10%;
                height: 1100px;
                float: left;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('backgroundimages/background-left.png');
                background-position: left top;
                background-repeat: no-repeat;
            }

            .RSVP-image-right {
                width: 10%;
                height: 1100px;
                float: left;
                position: absolute;
                top: 0;
                right: 0;
                background-image: url('backgroundimages/background-right.png');
                background-position: right top;
                background-repeat: no-repeat;
            } 

            .RSVP-form {
                max-width: 640px;
                margin: 50px auto 0;
                text-align: center;
            }

            .RSVP p {
                width: 70%;
                padding: 20px 0 40px;
            }

            input {
                max-width: 500px;
            }

            input[type=text] {
                margin-top: 7px;
            } 

            input#emotion{
                width: 63%;
            }

            input#name {
                margin-top: 20px;
            }

            input[type=submit] {
                background-color: rgba(255, 47, 23, 0.2);
            }

            input[type=submit]:hover {
                background:rgba(255, 123, 68, 0.7); 
            }
        }

            @media (min-width: 750px) {

                .RSVP-image-left {
                    width: 10%;
                    height: 1100px;
                    float: left;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url('backgroundimages/background-left.png');
                    background-position: left top;
                    background-repeat: no-repeat;
                }

                .RSVP-image-right {
                    width: 10%;
                    height: 1100px;
                    float: left;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-image: url('backgroundimages/background-right.png');
                    background-position: right top;
                    background-repeat: no-repeat;
                }   
            }
        
                @media (min-width: 900px) {

                    .RSVP-form {
                        max-width: 700px;
                        margin: 0 auto;
                        text-align: center;
                    }

                    .RSVP-image-left {
                        z-index: -1;
                        width: 30%;
                        height: 1100px;
                        float: left;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-image: url('backgroundimages/background-left.png');
                        background-position: left top;
                        background-repeat: no-repeat;
                    }

                    .RSVP-image-right {
                        z-index: -1;
                        width: 30%;
                        height: 1100px;
                        float: left;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-image: url('backgroundimages/background-right.png');
                        background-position: right top;
                        background-repeat: no-repeat;
                    }

                    .RSVP p {
                        width: 40%;
                        padding: 20px 0 100px;
                    }

                    input {
                        max-width: 75%;
                    }  

                    input#emotion{
                        margin-top: 40px;
                        width: 61%;
                    }

                    input#diet {
                        width: 47%;
                        margin: 30px 0 0;
                        text-align: left;
                    }

                    input#name {
                        margin-top: 20px;
                        width: 75%;
                    }

                    input[type=submit] {
                        text-align: center;
                        font-family: 'Cormorant Garamond', serif;
                        width: 75%;
                        -webkit-border-radius: 2px;
                        border-radius: 2px;
                    }
                }