.RSVP {
    width: 100%;
    position: relative;
}

.RSVP-image-left, .RSVP-image-right {
    width: 0;
}

.RSVP-form {
    width: 90%;
    margin: 50px auto 0;
    text-align: center;
}

.RSVP p {
    width: 70%;
    padding: 10px 0 40px;
}

.selection {
    display: inline-block;
    margin: none;
    padding: none;
    border: 0 none;
}

.selection input[type="radio"] {
    display: none; 
}

.selection label {
    display:inline-block;
    border-bottom: 5px solid #80b5b3;
    cursor: pointer;
}

.selection input[type="radio"]:checked + label { 
    border-bottom: 5px solid #9BC5C3;
}

label {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    line-height: 1.1em;
    color: #000000;
    text-align: center;
    display: inline-block;
    margin: 50px 0 0;   
}

.selection label {
    margin: 10px 0;
}

label[for="emotion"] {
    margin: 50px 0 20px;
}

label[for="emotion_after"] {
    margin: 20px 0 0;
}

input {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    line-height: 1.1em;
    width: 92%;
    color: #467372;
    cursor:pointer;
    text-align: center;
}

input#emotion {
    width: 80%;
}

input#name {
    margin-top: 20px;
}

input[type=text] {
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #80b5b3;
    /*-webkit-box-shadow: ;
    -moz-box-shadow: ;*/
    box-shadow: none;
    border-radius: 2px; 
    padding: 18px 20px;
    background: #9bc5c3;
    margin: 0;
    cursor: pointer;
}

input[type=submit] {
    color: #ffffff;
    text-align: center;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 30px 0;
    padding:20px 40px;
    background-image:linear-gradient(45deg, #80b5b3, #75a7a5); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Placeholder Styling Starts */

::-webkit-input-placeholder {
    color: #ffffff;
    text-align: center;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 100;

}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    text-align: center;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8em;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
    text-align: center;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8em;
}

:-ms-input-placeholder {  
    color: #ffffff;
    text-align: center;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8em;
}

/* Placeholder Styling Ends */

/* Focus Styling Starts */

input:active {
    outline: none;
    border: none;
}

input:focus {outline:0;}

textarea:focus, input:focus {
    border-bottom: 2px solid #467372;
}

/* Focus Styling Ends */

    @media (min-width: 600px) {

    .RSVP-image-left {
        width: 5%;
        height: 1100px;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('backgroundimages/background-left.png');
        background-position: left top;
        background-repeat: no-repeat;
    }

    .RSVP-image-right {
        width: 5%;
        height: 1100px;
        float: left;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('backgroundimages/background-right.png');
        background-position: right top;
        background-repeat: no-repeat;
    } 

    .RSVP-form {
        max-width: 500px;
        margin: 50px auto 0;
        text-align: center;
    }

    .RSVP p {
        width: 50%;
        padding: 20px 0 40px;
    }

    input {
        max-width: 500px;
    }

    input#emotion{
        width: 84%;
    }

    input#name {
        margin-top: 20px;
        width: 60%;
    }

        @media (min-width: 750px) {

         .RSVP-image-left {
            width: 10%;
            height: 1100px;
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('backgroundimages/background-left.png');
            background-position: left top;
            background-repeat: no-repeat;
        }

        .RSVP-image-right {
            width: 10%;
            height: 1100px;
            float: left;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('backgroundimages/background-right.jpg');
            background-position: right top;
            background-repeat: no-repeat;
        }   
    
            @media (min-width: 900px) {

            .RSVP-form {
                max-width: 700px;
                margin: 50px auto 0;
                text-align: center;
            }

            .RSVP-image-left {
                z-index: -1;
                width: 30%;
                height: 1100px;
                float: left;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('backgroundimages/background-left.png');
                background-position: left top;
                background-repeat: no-repeat;
            }

            .RSVP-image-right {
                z-index: -1;
                width: 30%;
                height: 1100px;
                float: left;
                position: absolute;
                top: 0;
                right: 0;
                background-image: url('backgroundimages/background-right.png');
                background-position: right top;
                background-repeat: no-repeat;
            }

            .RSVP p {
                width: 40%;
                padding: 20px 0 100px;
            }

            input {
                max-width: 75%;
            }

            input[type=text] {
                background-color: rgba(0, 0, 0, 0);
            }   

            input#emotion{
                margin-top: 40px;
                width: 50%;
            }

            input#diet {
                width: 30%;
                margin: 40px 0 0;
                text-align: left;
            }

            input#name {
                margin-top: 20px;
                width: 75%;
            }

            input[type=submit]:hover {
                background:#467372; 
            }