.sleeping {
    display: block;
    text-align: center;
    background-color: #f8f9e7;
    border: 10px solid white;
}

.sleeping h3{
    padding: 50px 0 30px;
    width: 60%;
    line-height: 1.6em;
}

.sleeping h4 {
    margin: 10px 0 0;
}

.sleeping-list, .travel-list {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.sleeping-list {
    margin-bottom: 20px;
}

.travel-list {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    padding-top: 60px;
    background-color: #cbeff5;
}

.sleeping-list a, .travel-list a {
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 40px;
    width: 80%;
    background-color: rgb(164, 207, 214);
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.sleeping-item, .travel-item {
    width: 100%;
  	flex-shrink: 0;
    margin-bottom: 50px
}

.sleeping p {
    margin: 10px 0 30px;
}

.sleeping-credit {
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    color: rgb(110, 171, 181);
}

.travel-info {
     max-width: 80%;
     margin: 0 auto 40px;
}

    @media (min-width: 500px) {

        .sleeping {
            display: block;
            text-align: center;
            background-color: #f8f9e7;
            border: 30px solid white;
        }

        .sleeping-item, .travel-item {
            width: calc(50% - 20px);
            flex-shrink: 0;
            margin-bottom: 30px;
            padding: 0;
        }

        .sleeping p {
            margin: 10px 0 10px;
        }

        .travel-item {
            margin-bottom: 30px;
        }

        .sleeping-list a, .travel-list a {
            color: rgb(110, 171, 181);
            padding: 0;
            background-color: rgba(255, 149, 134, 0);
        }

        .sleeping-list a:hover, .travel-list a:hover {
            border-bottom: 1px solid rgb(45, 162, 181);
            border-radius: none;
        }
    }
    
        @media (min-width: 750px) {

            .sleeping h3 {
                padding: 60px 0 40px;
            }

            .sleeping-item, .travel-item {
                width: calc(32% - 5px);
                flex-shrink: 0;
            }
        }

            @media (min-width: 900px) {

                .travel-info {
                    max-width: 600px;
                }
            }

            @media (min-width: 1000px) {

                .sleeping-list {
                    margin-bottom: 20px;
                    padding: 0 4%;
                }

                .travel-list {
                    padding: 60px 4% 0;
                }

                .travel-info {
                    max-width: 90%;
                }
            }

                @media (min-width: 1300px) {

                    .sleeping-list, .travel-list {
                        max-width: 1300px;
                    }
                }